<!-- Splash screen -->
<section id="splash">

  <section id="headline">
    <h1>
       Imagine a feed with <em>only</em> the tweets you're interested in
    </h1>
    <h2>
      Get a feed of sales leads, customer enquireies, marketing opportunities, and no noise.
    </h2>
  </section>
  <section id="extra">
    
  </section>
</section>

<!-- The Application -->
<section id="app" style="display:none">
  <header id="toolbar"><div class="toolbar-inner">
    <h2>Teach the Bird</h2>
    <span class="button" id="new-stream-btn">New Stream</span>
    <section id="user">
      <span class="user-name"></span>
    </section>
  </header>
  <div id="container">
      <section id="streams">
      </section>
  </div>
</section>

