<h1>Twitter Research Tool</h1>

<h2>Only the tweets you want, exported to your spreadsheet</h2>

<h3>Smart filtering</h3>
<p>Avoid boring and time consuming filtering - teach our system what you're interested in. Simply click 'yes' and 'no' on tweets that do or don't interest you and our system does the rest.</p>

<h3>Real time</h3>
<p>See which tweets you're capturing in real time. Get started in seconds.</p>

<h3>Export</h3>
<p>Export as CSV files, understood by Excel, SPSS, R and a host of other industry standard research tools.</p>

<h3>Try now</h3>

