<div class="container">
  <div class="row">
    <div class="panel signup eight columns offset-by-two">
      <h1>Twedar</h1>
      <h4 class="subheader">Find relevent Tweets automatically, and export to analyze</h4>
      <p class="first">Too much noise to do good research on Twitter? Our Twitter robots will quickly learn what you're really interested in.</p>
      <p>Simply mark Tweets as "Yes" or "No" to teach our bots what you're looking for.</p>
      <p>You can export the tweets and users you find to Excel or SPSS for further analysis.</p>
      <h4 class="subheader">Smart bots learn what Tweets you're interested in</h4>
      <%= image_tag "screen1.png", :size => "260x180", :alt => "Simply indicate yes or no" %>
      <h4 class="subheader">Simply indicate yes or no on any tweet</h4>
      <%= image_tag "screen2.png", :size => "260x180", :alt => "Watch multiple keywords" %>

      <div class="row signup-button">
        <h4>Start making Twitter work for you</h4>
        <a href="/signup" class="button nice radius blue large">Signup</a>
      </div>

    </div>
  </div>
</div>
