<div id="single" class="row">
  <div class="eight columns offset-by-two panel">
    <h1>Find your audience on Twitter</h1>
    <h2>Twedar is a twitter marketing tool that allows you to monitor filtered searches that run 24/7, with the ability to export potential followers and influencers to Excel & Google docs.</h2>
    <div class="splash-img">
      <%= image_tag "export-demo.png", :size => "130x130", :alt => "Export tweets to CSV" %>
    </div>

    <hr />

    <h3>Non-stop search, 24/7</h3>
    <p>Learn about what your audience is tweeting about even when you're not online. Gather weeks worth of research while you sleep.</p>

    <h3>Smart filtering</h3>
    <p>Hone in on your audience. Simply click 'yes' and 'no' on tweets that do or don't interest you and our system does the rest.</p>


    <h3>Instant feedback</h3>
    <p>See which tweets you're capturing in real time. Get started in seconds.</p>

    <h3>Export</h3>
    <p>Export as CSV files, understood by Excel, Google docs, Highrise and a host of other industry standard marketing tools.</p>

    <div class="row signup-button">
      <div class="eight columns offset-by-two">
        <h4>Make Twitter work for marketing</h4>
        <a href="/auth/twitter" class="button nice radius blue large">Sign in with Twitter</a>
      </div>
    </div>
  </div>
</div>



