<div class="container">
  <div class="row">
    <div class="panel signup eight columns offset-by-two">
      <h1>Research on Twitter</h1>
      <h4 class="subheader">Find relevent Tweets automatically, and export to analyze</h4>
      <p class="first">Too much noise to do good research on Twitter? Our Twitter robots will quickly learn what you're really interested in.</p>
      <p>Simply mark Tweets as "Yes" or "No" to teach our bots what you're looking for.</p>
      <h4 class="subheader">Smart bots learn what Tweets you're interested in</h4>
      <img src="/images/blue-birds-1.jpg" width="592" height="210" title="Anotate the products in your photos" />
      <h4 class="subheader">Export to Excel, SPSS for analysis</h4>
      <img src="/images/blue-birds-anotate.jpg" width="592" height="210" title="Annotate in seconds" />
      <h4 class="subheader">Free for 100 Tweets a day</h4>
    </div>
  </div>
</div>
