
<div class="container">
  <div class="row">
    <div class="panel six columns offset-by-three">
      <h1>Thank you, you rock!</h1>
      <h4 class="subheader">If you've got some friends who also would like to earn via tumblr, let them know! The more people interested, the quicker we'll get going.</h4>
      <div class="share" style="width: 300px; margin: 0 auto;">
        <div style="width: 50px; overflow: hidden; position: relative; top: -3px;" class="fb-like" data-href="http://signup.tumblr-shop.com" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
        <a href="https://twitter.com/share?url==http://signup.tumblr-shop.com" class="twitter-share-button" data-lang="en">Tweet</a>
        <span style="position: relative; top: -7px; left: -18px;">
          <a href="http://www.tumblr.com/share/link?url=http://signup.tumblr-shop.com" title="Share on Tumblr" style="display:inline-block; text-indent:-9999px; overflow:hidden; width:129px; height:20px; background:url('http://platform.tumblr.com/v1/share_3.png') top left no-repeat transparent;">Share on Tumblr</a>
        </span>
      </div>
    </div>
  </div>
</div>


<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=184705764981934";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


