<html>
<head>    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="http://platform.twitter.com/anywhere.js?id=ewOAcng1F85P92EhEqyBsAv=1" type="text/javascript"></script>
    
    <%= csrf_meta_tags %>
    <title>Feed the bird!</title>

    <%= yield :stylesheets %>
  </head>
  <body>
      <%= yield %>
      <!-- Javascript -->
      <%= yield :javascript %>
  </body>
</html>

